:root{
    --strongcyan: hsl(172, 67%, 45%);
    --backgroundColor: hsl(183, 100%, 15%);
    --primaryFontColor: hsl(186, 14%, 43%);
    --grayishcyan: hsl(184, 14%, 56%);
    --primaryBackgroundColor: hsl(185, 41%, 84%);
    --verylightgrayishcyan: hsl(189, 41%, 97%);
    --secundaryFontColor: hsl(0, 0%, 100%);
    

}

main{
    background-color: var(--primaryBackgroundColor);
}

.container-app{
    background-color: hsl(189, 41%, 97%);

    display: flex;
    justify-content: center;

    border-radius: 20px;
    border: 1px solid black;

    max-width: 500px;

    padding: 20px 0px;
    margin: auto;

    gap:20px;
}

/* container de input do valor da bill e de pessoas*/
.container-input{

    position: relative;
    display: flex;
    flex-direction: column;
    
    margin-top: 5px;
    margin-bottom: 20px;
}

.container-input .input{
    text-align: right;
}

.container-input .input-placeholder{
    position: absolute;
}

/* container de input:radio da porcentagem da gorjeta*/

.container-percent-radio{
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;

    gap:10px;
    max-width:250px;

    margin: 5px;
}

.label-radio-percent{
    background-color: var(--backgroundColor);
    color:var(--secundaryFontColor);

    flex-grow: 0;
    display: flex;

    align-items: center;
    justify-content: center;

    border-radius: 5px;

    width: 60px;
    height: 25px;
    cursor: pointer;

}

.label-radio-percent input[type="radio"]{
    appearance: none;
}

.container-percent-radio .input-custom{
    text-align: right;
    width: 60px;
    height: 25px;

    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.container-percent-radio .input-custom::placeholder{
    text-align: center;
}

.container-percent-radio .input-custom.active{
    cursor: text;
}

/*container resultado*/
.tip-result-container{
    display: flex;
    flex-direction: column;

    background-color: var(--backgroundColor);

    border-radius: 10px;
}
.tip-result-container .result-container-text{
    position: relative;
}
